USE [master]
GO
/****** Object:  Database [YESER_SABILLON_TEST]    Script Date: 2/2/2026 19:05:47 ******/
CREATE DATABASE [YESER_SABILLON_TEST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YESER_SABILLON_TEST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\YESER_SABILLON_TEST.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YESER_SABILLON_TEST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\YESER_SABILLON_TEST_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YESER_SABILLON_TEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YESER_SABILLON_TEST]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 2/2/2026 19:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Categoria] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_PRODUCTOS_STOCK]    Script Date: 2/2/2026 19:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_PRODUCTOS_STOCK] AS
SELECT 
	* FROM dbo.PRODUCTO
	WHERE Stock > 0;

GO
/****** Object:  View [dbo].[VW_PRODUCTOS_SIN_STOCK]    Script Date: 2/2/2026 19:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VW_PRODUCTOS_SIN_STOCK] AS
SELECT 
	* FROM dbo.PRODUCTO
	WHERE Stock = 0;
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 2/2/2026 19:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA_DETALLE]    Script Date: 2/2/2026 19:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA_DETALLE](
	[IdFactura_Detalle] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura_Header] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[NumeroDetalle] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFactura_Detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA_HEADER]    Script Date: 2/2/2026 19:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA_HEADER](
	[IdFactura_Header] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFactura_Header] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FACTURA_DETALLE]  WITH CHECK ADD FOREIGN KEY([IdFactura_Header])
REFERENCES [dbo].[FACTURA_HEADER] ([IdFactura_Header])
GO
ALTER TABLE [dbo].[FACTURA_DETALLE]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTO] ([IdProducto])
GO
ALTER TABLE [dbo].[FACTURA_HEADER]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[CLIENTE] ([IdCliente])
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_CLIENTE]    Script Date: 2/2/2026 19:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ACTUALIZAR_CLIENTE]
	@IDCLIENTE INT,
	@NOMBRE NVARCHAR(100),
	@APELLIDO NVARCHAR(100),
	@EMAIL NVARCHAR(100),
	@TELEFONO NVARCHAR(15)
	AS
	BEGIN
	UPDATE DBO.CLIENTE
		SET Nombre = @NOMBRE,
		Apellido = @APELLIDO,
		Telefono = @TELEFONO,
			Email = @EMAIL
		WHERE IDCLIENTE = @IDCLIENTE
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_PRODUCTO]    Script Date: 2/2/2026 19:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ACTUALIZAR_PRODUCTO]
	@IDPRODUCTO INT,
	@NOMBRE NVARCHAR(50),
	@PRECIO DECIMAL(10,2),
	@STOCK INT,
	@CATEGORIA NVARCHAR(100)

AS 

BEGIN

UPDATE PRODUCTO
	SET Nombre = @NOMBRE, Precio = @PRECIO,Stock = @STOCK, Categoria =@CATEGORIA
	WHERE IdProducto = @IDPRODUCTO

END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_CLIENTE]    Script Date: 2/2/2026 19:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[SP_ELIMINAR_CLIENTE]
	@IDCLIENTE INT
	AS
	BEGIN
	DELETE FROM DBO.CLIENTE
		WHERE IdCliente = @IDCLIENTE
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_PRODUCTO]    Script Date: 2/2/2026 19:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ELIMINAR_PRODUCTO]
	@IDPRODUCTO INT

AS 
BEGIN
	DELETE FROM PRODUCTO WHERE IdProducto = @IDPRODUCTO
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_CLIENTE]    Script Date: 2/2/2026 19:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_CLIENTE]
	@NOMBRE NVARCHAR(100),
	@APELLIDO NVARCHAR(100),
	@EMAIL NVARCHAR(100),
	@TELEFONO NVARCHAR(15)
	AS
	BEGIN
	INSERT INTO DBO.CLIENTE (Nombre, Apellido,Email,Telefono)
		VALUES (@NOMBRE,@APELLIDO, @EMAIL, @TELEFONO)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_FACTURA_DETALLE]    Script Date: 2/2/2026 19:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_FACTURA_DETALLE]
	@IDFACTURA INT,
	@IDPRODUCTO INT,
	@NUMERODETALLE INT,
	@CANTIDAD INT,
	@TOTAL DECIMAL(18, 2)
	AS
	BEGIN
	INSERT INTO dbo.FACTURA_DETALLE (IdFactura_Header, IdProducto, NumeroDetalle, Cantidad, Total)
		VALUES (@IDFACTURA, @IDPRODUCTO, @NUMERODETALLE, @CANTIDAD, @TOTAL)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_FACTURA_HEADER]    Script Date: 2/2/2026 19:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_FACTURA_HEADER]
	@IDCLIENTE INT,
	@FECHA DATETIME,
	 @IdFactura INT OUTPUT
AS
BEGIN
	INSERT INTO dbo.FACTURA_HEADER (IdCliente, Fecha)
	VALUES (@IDCLIENTE, @FECHA)

	SET @IdFactura = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_PRODUCTO]    Script Date: 2/2/2026 19:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTAR_PRODUCTO]
	@NOMBRE NVARCHAR(100),
	@PRECIO DECIMAL(18, 2),
	@STOCK INT,
	@CATEGORIA NVARCHAR(100)
	AS
	BEGIN
	INSERT INTO DBO.PRODUCTO (Nombre, Precio,Stock, Categoria)
		VALUES (@NOMBRE, @PRECIO,@STOCK, @CATEGORIA)
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENER_VENTAS_POR_FECHA_HORA]    Script Date: 2/2/2026 19:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----PROCEDIMIENTO QUE OBTIENE LAS VENTAS DE ESA FECHA Y HORA, EN CASO DE QUE LA FECHA Y HORA SEA NULA, OBTIENE TODAS LAS VENTAS REALIZADAS TOTALES DE ESE DIA
CREATE PROCEDURE [dbo].[SP_OBTENER_VENTAS_POR_FECHA_HORA]
    @FECHA_HORA DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @FechaBase DATETIME;

    SET @FechaBase = DATEADD(
                        HOUR,
                        DATEDIFF(HOUR, 0, ISNULL(@FECHA_HORA, GETDATE())),
                        0
                     );

    SELECT 
        FH.IdFactura_Header,
        FH.IdCliente,
        FH.Fecha,
        SUM(FD.Total) AS Total_Ventas
    FROM dbo.FACTURA_HEADER FH
    INNER JOIN dbo.FACTURA_DETALLE FD
        ON FH.IdFactura_Header = FD.IdFactura_Header
    WHERE 
        FH.Fecha >= @FechaBase
        AND FH.Fecha < DATEADD(HOUR, 1, @FechaBase)
    GROUP BY
        FH.IdFactura_Header,
        FH.IdCliente,
        FH.Fecha;
END;
GO
USE [master]
GO
