@model List<YeserSabillon_PruebaTecnica.Models.Cliente>
@{
    ViewData["Title"] = "Factura";
}

<h1>Factura</h1>

<div class="align-content-center">
    <section id="section-header-factura">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Fecha" class="control-label">Fecha:</label>
                    <input type="date" name="Fecha" value="" id="Fecha" class="form-control" />
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ClientesSelect" class="control-label">Cliente:</label>
                    <select id="ClientesSelect" name="ClientesSelect" class="form-control">
                        @foreach (var cliente in Model)
                        {
                            <option value="">-- Seleccione un cliente --</option>
                            <option value="@cliente.IdCliente">
                                @cliente.Nombre @cliente.Apellido
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-end">
                <button id="btnAgregarProducto" class="btn btn-primary">Agregar Producto</button>
            </div>
        </div>

    </section>
    <section id="section-detalle-factura">
        <h3>Detalle de la Factura</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se agregarán las filas de detalle de la factura -->
            </tbody>
        </table>
    </section>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('#ClientesSelect').select2({
                placeholder: "Seleccione un cliente",
                allowClear: true
            });
        });
    </script>
}