@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>PRUEBA TECNICA YESER SABILLON PARA TIENDAS CARRION</p>
</div>
